
#nav{
  font-family: "Merienda", cursive;
  font-weight: bold;
  font-style: normal;
}

#hero,h1{
  font-family: "Merienda", cursive;
  font-weight: bold;
  font-style: normal;
}

#about{
  font-family: "Merienda", cursive;
  font-weight: bold;
  font-style: normal;
}

#oder01{
  font-family: "Merienda", cursive;
  font-weight: bold;
  font-style: normal;
}
#oder02{
   font-family: "Merienda", cursive;
  font-weight: bold;
  font-style: normal;
}
#oder03{
   font-family: "Merienda", cursive;
  font-weight: bold;
  font-style: normal;
}

#Visit{
  font-family: "Merienda", cursive;
  font-weight: bold;
  font-style: normal;
}